@font-face{
    font-family: varino;
    src: url("./Varino\ -\ Normal.ttf");
    }
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

.about-heading{
    font-size: 8vh;
    font-family: varino;
    color: aliceblue;
    /* padding-left: 10%; */
    display: flex;
    margin: auto;
    color:  rgba(0, 225, 255);
    padding-bottom: 2%;
}
p{
    padding: 0 10% 10% 10%;
    color: aliceblue;
    font-size: 4vh;
    font-family: 'PT Mono','Courier';
}
.btn-special{
    font-family: varino;
    font-size: large;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 2%;
    height: 40px;
    outline: 0px;
    border: none;
    filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px) drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px);
    color: rgb(23, 15, 30);
    background: linear-gradient(90deg, rgb(255, 215, 77) 0%, rgb(64, 221, 255) 30%, rgb(124, 127, 255) 85%) 0% 0% / 200% 100%;
}
 
  
  .card1{
    background-color: aliceblue;
    margin: auto;
    height: 7vh;
    width: 60%;
    background: #191c29;
    /* width: var(--card-width); */
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: varino;
    color:aliceblue;
    margin-bottom: 2%;
    /* margin: 2vw; */
  }

  .card1::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      bottom: 0;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }


 .p1{
    font-size: 4.5vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    text-align: justify;
  }
  .wrap-abt{
    display: flex;
    margin: auto;
  }
  @media screen and (max-width: 480px) {
    .p1{
       font-size: 2.75vh;
     }
     .about-heading{
      margin-left: 10% ;
      font-size: 4vh;
      padding-bottom: 10%;
  }
  .card1{
    width: 90%;
  }
  .btn-special{
    margin-top: 10%;
    width: 40%;
  }
      }