@font-face{
    font-family: varino;
    src: url("./Varino\ -\ Normal.ttf");
    }
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

.about-heading{
    font-size: 10vh;
    font-family: varino;
    color: aliceblue;
    padding-left: 10%;
    color:  rgba(0, 225, 255);
    padding-bottom: 2%;
}
p{
    padding: 0 10% 10% 10%;
    color: aliceblue;
    font-size: 5vh;
    font-family: 'PT Mono','Courier';
}
.btn-special{
    font-family: varino;
    font-size: large;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 2%;
    height: 40px;
    outline: 0px;
    border: none;
    filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px) drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px);
    color: rgb(23, 15, 30);
    background: linear-gradient(90deg, rgb(255, 215, 77) 0%, rgb(64, 221, 255) 30%, rgb(124, 127, 255) 85%) 0% 0% / 200% 100%;
}
 
  
  .card1{
    background-color: aliceblue;
    margin-left: 10%;
    height: 8vh;
    width: 80%;
    background: #191c29;
    /* width: var(--card-width); */
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: varino;
    color:aliceblue;
    margin-bottom: 2%;
    /* margin: 2vw; */
  }

  .card1::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      bottom: 0;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card1::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  /* @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
 */
 .p1{
    font-size: 5vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    text-align: justify;
  }