.card-wrapper {
    /* height: 100vh; */
    padding: 0%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* flex-direction: column; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  
  
  .card {
    width: 35vw;
    background: #191c29;
    height: var(--card-height--github);
    padding: 3px;
    position: relative;
    border-radius: 6px;

    font-size: 1.5em;
    font-family: varino;
    color:aliceblue;
    margin: 2vw;
  }
  .cards-heading{
    padding-top: 10%;
    font-size: 6vh;
    font-family: varino;
    color: aliceblue;
    padding-left: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    color:  rgba(0, 225, 255);
    padding-bottom: 2%;
    filter: drop-shadow(rgba(255, 215, 77, 0.6) -0.5px -0.5px 1px)
    drop-shadow(rgba(124, 127, 255, 0.6) 0.5px 0.5px 1px);
  }
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

  @media screen and (max-width: 480px) {
.card-wrapper{
  flex-direction: column;
  width: 100vw;
  padding: 0%;

}
.card{
  width: 80vw;
  height: auto;
  margin-bottom: 20px;
}
.cards-heading{
  font-size: 4vh;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

      }

@media screen and (max-width: 1025px) {
  .card-wrapper{
    flex-direction: column;
    width: 100vw;
    padding: 0%;
  
  }
  .card{
    height: auto;
  }
}
.card:hover{
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        z-index: 10;
        transition: 0.25s;

}
.card:hover {
        opacity: 0.5;
}
.git-logo{
  margin: 15px;
}
.repo-heading{
  font-size: 1.5rem;
  margin: 15px;
}
.repo-description{
  font-size: small;
  margin: 10px;
}