.card-wrapper {
    min-height: 100vh;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* flex-direction: column; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  
  
  .card {
    height: 8vh;
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    font-family: varino;
    color:aliceblue;
    margin: 2vw;
  }